.venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/
.ruff_cache/

.env
.kaggle/
kaggle.json

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

models/
checkpoints/
*.pt
*.pth
*.ckpt

reports/figures/*
!reports/figures/.gitkeep
